In [38]:
# Dependencies
# Import pandas as pd
from bs4 import BeautifulSoup as bs
from splinter import Browser
import requests
import time

import tweepy
import pymongo

import config

In [2]:
import pandas as pd

# Step 1 - Scraping
###Scrape the NASA Mars News Site and collect the latest News Title and Paragraph Text. Assign the text to variables that you can reference later.

In [3]:
executable_path = {'executable_path': 'C:\ChromeSafe\chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [4]:
NASA_url = "https://mars.nasa.gov/news/"
browser.visit(NASA_url)

In [5]:
html = browser.html
marsnews_soup = bs(html, 'html.parser')

### NASA Mars News
news_title = "NASA's Next Mars Mission to Investigate Interior of Red Planet"

news_p = "Preparation of NASA's next spacecraft to Mars, InSight, has ramped up this summer, on course for launch next May from Vandenberg Air Force Base in central California --- the first interplanetary launch in history from America's West Coast."

In [6]:
news_title = marsnews_soup.find_all('div', class_='content_title')
print(news_title[0].text)

Curiosity Surveys a Mystery Under Dusty Skies

In [7]:
news_p = marsnews_soup.find_all('div', class_='article_teaser_body')
print(news_p[0].text)

NASA's Curiosity rover surveyed its surroundings on Mars, producing a 360-degree panorama of its current location on Vera Rubin Ridge.

### JPL Mars Space Images - Featured Image

In [8]:
# featured_image_url = 'https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA16225_hires.jpg'

In [9]:
featured_image_url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'

executable_path = {'executable_path': 'C:\ChromeSafe\chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)
browser.visit(featured_image_url)

In [10]:
time.sleep(2)

fullimage_ele = browser.find_by_id("full_image")
fullimage_ele.click()

In [11]:
time.sleep(2)

image_info = browser.find_link_by_partial_text("more info")
image_info.click()

In [17]:
html = browser.html
image_soup = bs(html, 'html.parser')

In [19]:
image_info_check = image_soup.find('figure', class_='lede').find('img')['src']
image_info_check

'/spaceimages/images/largesize/PIA17172_hires.jpg'

In [20]:
image_url = 'https://www.jpl.nasa.gov'
featured_image_url_final = image_url + image_info_check
featured_image_url_final

'https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA17172_hires.jpg'

### Mars Weather

In [41]:
# # twitter regenerated keys
consumer_key = "HZT0Bbm7t6jBM8y6encIAkFdi"
consumer_secret ="uLzJTXZZ2dI1ZSyweZkjWaKXx224P23ik2P12FVcI76GgRhzbv"
access_token ="1009237901073317888-Yv3kllm2ABnnU4q9ul2YvPEWobCpC8"
access_token_secret= "amQNYDwe9ddEGL0lfoOXmZ7uGKAe2OJpSMHnCx1M5Q1Ze"

In [43]:
# from config import (consumer_key,
#                     consumer_secret,
#                     access_token,
#                     access_token_secret)

# Setup Tweepy API Authentication
auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_token_secret)
api = tweepy.API(auth, parser=tweepy.parsers.JSONParser())

In [44]:
target_user = "@MarsWxReport"

In [47]:
tweets_mars = api.user_timeline(target_user, count =100)
Mars_weather = tweets_mars[0]['text']
Mars_weather

'@VeronicaMcG @NASAJPL Emmy wants his picture on the Cassini console in the SFOC'

Mars Facts

In [49]:
Mars_facts_url = 'https://space-facts.com/mars'

df = pd.read_html(Mars_facts_url)[0]
df.columns=['description', 'value']
df.set_index('description', inplace =True)
df

                                              value
description
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.42 x 10^23 kg (10.7% Earth)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.52 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                  -153 to 20 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [50]:
#df to html table 

mars_profile_html =df.to_html()
mars_profile_html

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>value</th>\n    </tr>\n    <tr>\n      <th>description</th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Equatorial Diameter:</th>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>Polar Diameter:</th>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.42 x 10^23 kg (10.7% Earth)</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>Orbit Distance:</th>\n      <td>227,943,824 km (1.52 AU)</td>\n    </tr>\n    <tr>\n      <th>Orbit Period:</th>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>Surface Temperature:</th>\n      <td>-153 to 20 °C</td>\n    </tr>\n    <tr>\n      <th>First Record:</th>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>Recorded By:</th>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

Mars Hemisphere

In [63]:
featured_image_url = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'

executable_path = {'executable_path': 'C:\ChromeSafe\chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)
browser.visit(featured_image_url)

In [64]:
html = browser.html
image_soup = bs(html, 'html.parser')

In [65]:
hemisphere_url = []

# url = browser.find_by_css("a.product-item")
url = browser.find_by_css("a.itemLink product-item")

for i in range(len(url)):
    hemisphere_dict={}
    
    browser.find_by_css("a.itemLink product-item")[i].click()
    
    sample_image = browser.find_link_by_text('Sample').first
    hemisphere['Img_url'] = sample_image['href']
    
    hemisphere['title'] = browser.find_by_css("h2.title").text
    
    hemisphere_url.append(hemisphere_dict)

    browser.back()

In [66]:
hemisphere_url

[]

In [67]:
browser.quit()